In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [5]:
data = pd.read_csv('alt_loan.csv')

data

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies
0,30000,36 months,22.35,1151.16,5,MORTGAGE,100000.00,Source Verified,1,debt_consolidation,30.46,0,0,11,1,15603,37.0,19,1
1,40000,60 months,16.14,975.71,0,MORTGAGE,45000.00,Verified,1,credit_card,50.53,0,0,18,0,34971,64.5,37,0
2,20000,36 months,7.56,622.68,10,MORTGAGE,100000.00,Not Verified,1,credit_card,18.92,0,0,9,0,25416,29.9,19,0
3,4500,36 months,11.31,147.99,10,RENT,38500.00,Not Verified,1,credit_card,4.64,0,0,12,0,4472,15.3,25,0
4,8425,36 months,27.27,345.18,3,MORTGAGE,450000.00,Verified,1,credit_card,12.37,0,0,21,0,36812,65.7,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47002,27950,36 months,17.09,997.75,9,MORTGAGE,235000.00,Source Verified,1,credit_card,25.50,0,1,20,0,118813,81.2,46,0
47003,30000,36 months,17.09,1070.93,6,RENT,88000.00,Source Verified,1,debt_consolidation,21.16,0,3,18,2,22979,32.9,29,1
47004,18000,36 months,14.08,615.90,0,MORTGAGE,44000.00,Source Verified,0,credit_card,20.38,0,2,18,0,17906,23.7,21,0
47005,12000,60 months,12.62,270.71,10,MORTGAGE,89625.39,Not Verified,1,debt_consolidation,17.61,0,0,10,0,18601,90.3,37,0
47006,14000,36 months,13.59,475.71,2,OWN,80000.00,Source Verified,1,car,1.35,0,1,11,0,1461,4.1,21,0

In [4]:
data.drop(columns=['installment'])

,loan_amnt,term,int_rate,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies
0,30000,36 months,22.35,5,MORTGAGE,100000.00,Source Verified,1,debt_consolidation,30.46,0,0,11,1,15603,37.0,19,1
1,40000,60 months,16.14,0,MORTGAGE,45000.00,Verified,1,credit_card,50.53,0,0,18,0,34971,64.5,37,0
2,20000,36 months,7.56,10,MORTGAGE,100000.00,Not Verified,1,credit_card,18.92,0,0,9,0,25416,29.9,19,0
3,4500,36 months,11.31,10,RENT,38500.00,Not Verified,1,credit_card,4.64,0,0,12,0,4472,15.3,25,0
4,8425,36 months,27.27,3,MORTGAGE,450000.00,Verified,1,credit_card,12.37,0,0,21,0,36812,65.7,37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47002,27950,36 months,17.09,9,MORTGAGE,235000.00,Source Verified,1,credit_card,25.50,0,1,20,0,118813,81.2,46,0
47003,30000,36 months,17.09,6,RENT,88000.00,Source Verified,1,debt_consolidation,21.16,0,3,18,2,22979,32.9,29,1
47004,18000,36 months,14.08,0,MORTGAGE,44000.00,Source Verified,0,credit_card,20.38,0,2,18,0,17906,23.7,21,0
47005,12000,60 months,12.62,10,MORTGAGE,89625.39,Not Verified,1,debt_consolidation,17.61,0,0,10,0,18601,90.3,37,0
47006,14000,36 months,13.59,2,OWN,80000.00,Source Verified,1,car,1.35,0,1,11,0,1461,4.1,21,0

In [13]:
x1 = data[['term','home_ownership','verification_status','purpose']]
ohe = OneHotEncoder(categories='auto').fit(x1)

result = ohe.transform(x1).toarray()

In [14]:
ohe.get_feature_names()

array(['x0_ 36 months', 'x0_ 60 months', 'x1_ANY', 'x1_MORTGAGE',
       'x1_OWN', 'x1_RENT', 'x2_Not Verified', 'x2_Source Verified',
       'x2_Verified', 'x3_car', 'x3_credit_card', 'x3_debt_consolidation',
       'x3_home_improvement', 'x3_house', 'x3_major_purchase',
       'x3_medical', 'x3_moving', 'x3_other', 'x3_renewable_energy',
       'x3_small_business', 'x3_vacation', 'x3_wedding'], dtype=object)

In [21]:
new = pd.DataFrame(result,columns=['term_36','term_60'
                                ,'home_ownership_any','home_ownership_mor','home_ownership_own'
                                ,'home_ownership_rent'
                                ,'ver_stat_nv','ver_stat_sv','ver_stat_v'
                                ,'purpose_car','purpose_cc','purpose_dc','purpose_hi'
                                ,'purpose_house','purpose_mp','purpose_medi','purpose_moving'
                                ,'purpose_other','purpose_renewe','purpose_sb','purpose_vacat','purpose_wedding'])

newdata = pd.concat([data,new],axis=1)

newdata.drop(columns=x1,axis=1,inplace=True)

newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47007 entries, 0 to 47006
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   loan_amnt             47007 non-null  int64
 1   int_rate              47007 non-null  float64
 2   installment           47007 non-null  float64
 3   emp_length            47007 non-null  int64
 4   annual_inc            47007 non-null  float64
 5   loan_status           47007 non-null  int64
 6   dti                   47007 non-null  float64
 7   delinq_2yrs           47007 non-null  int64
 8   inq_last_6mths        47007 non-null  int64
 9   open_acc              47007 non-null  int64
 10  pub_rec               47007 non-null  int64
 11  revol_bal             47007 non-null  int64
 12  revol_util            47007 non-null  float64
 13  total_acc             47007 non-null  int64
 14  pub_rec_bankruptcies  47007 non-null  int64
 15  term_36               47007 non-null  float64
 16  term_60               47007 non-null  float64
 17  home_ownership_any    47007 non-null  float64
 18  home_ownership_mor    47007 non-null  float64
 19  home_ownership_own    47007 non-null  float64
 20  home_ownership_rent   47007 non-null  float64
 21  ver_stat_nv           47007 non-null  float64
 22  ver_stat_sv           47007 non-null  float64
 23  ver_stat_v            47007 non-null  float64
 24  purpose_car           47007 non-null  float64
 25  purpose_cc            47007 non-null  float64
 26  purpose_dc            47007 non-null  float64
 27  purpose_hi            47007 non-null  float64
 28  purpose_house         47007 non-null  float64
 29  purpose_mp            47007 non-null  float64
 30  purpose_medi          47007 non-null  float64
 31  purpose_moving        47007 non-null  float64
 32  purpose_other         47007 non-null  float64
 33  purpose_renewe        47007 non-null  float64
 34  purpose_sb            47007 non-null  float64
 35  purpose_vacat         47007 non-null  float64
 36  purpose_wedding       47007 non-null  float64
dtypes: float64(27), int64(10)
memory usage: 13.3 MB

In [23]:
newdata.duplicated().sum()

0

In [24]:
newdata.to_csv('full_loan_cleaned.csv',index=False)